$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.axis {
  shape-rendering: crispEdges;

  line {
	  stroke: lightgrey;
 	}

	.minor {
	  stroke-opacity: .5;
	}

  line, path {
    fill: none;
    stroke: #000;
  }
}

.split-target-ref {
  stroke: lightgrey;
}

.data-my-target-salary, .ref-line-my-target-salary {
  fill: red;
}

.split-round-result circle {
  fill: blue;
}

.data-scaled-target-salary circle, .data-scaled-salary circle {
  stroke-dasharray: 1,1;
  fill: none;
}

.data-scaled-target-salary circle {
  stroke: red;
}

.data-scaled-salary circle {
  stroke: black;
}

.data-salary {
  cursor: ew-resize;
}

.data-my-target-salary, .split-round-assignment circle {
  cursor: ns-resize;
}

.ref-lines {
  stroke: lightgrey;
}

p.name {
  text-align: center;
}

#gapStatus {
  z-index: 100;
  right: 15px;
  position: fixed;
  top: 15px;
}

#table table {
  width: auto;

  td input {
    width: 84px;
  }
}

#state textarea {
  width: 100%;
  height: 400px;
}
